* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

body {
  padding-left: 320px;
}

/* Боковая панель */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 2px 0 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* верх */
.sidebar__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

/* Кнопки */
.icon-btn {
  border: none;
  background: #ff3e79;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

.icon-btn:hover {
  opacity: 0.7;
  filter: brightness(1.2);
}

/* Менб */
.menu {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.menu__link {
  text-decoration: none;
  color: #1b1c21;
  padding: 12px 0;
  transition: opacity 0.3s ease;
}

.menu__link:hover {
  opacity: 0.6;
}

.menu__link--active {
  color: #7e7e82;
  position: relative;
}

.menu__link--active::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  height: 100%;
  width: 4px;
  background: #41f6d7;
  border-radius: 2px;
}

/* Низ */
.sidebar__bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actions {
  display: flex;
  gap: 10px;
}

.contacts a {
  color: #1b1c21;
  text-decoration: none;
}

.phone {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

/* Языки */
.langs span {
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.langs span:hover {
  opacity: 0.8;
}

.langs .active {
  opacity: 1;
  font-weight: bold;
}
