:root {
  --bg: #020617;
  --card: #0b1220;
  --cyan: #22d3ee;
  --cyan-soft: rgba(34,211,238,.25);
  --text: #e5e7eb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, sans-serif;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: var(--text);
  padding: 120px 20px;
}

/* Кнопочка открытия */

.open-wrapper {
  text-align: center;
}

.open-btn {
  padding: 16px 36px;
  border-radius: 999px;
  text-decoration: none;
  background: linear-gradient(90deg, #22d3ee, #38bdf8);
  color: #020617;
  font-weight: 600;
  box-shadow: 0 12px 40px rgba(34,211,238,.45);
  transition: .3s;
}

.open-btn:hover {
  transform: scale(1.05);
}

/* Модальное окно */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.65);
  opacity: 0;
  pointer-events: none;
  transition: .3s;
  z-index: 1000;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

/* Модпл*/

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 60px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Пакеты */

.packages {
  display: flex;
  gap: 36px;
  overflow-x: auto;
  padding: 20px 10px 30px;
}

/* Карточки */

.package {
  position: relative;
  min-width: 360px;
  max-width: 360px;
  background: linear-gradient(180deg, var(--card), #020617);
  border: 1px solid var(--cyan-soft);
  border-radius: 32px;
  padding: 44px 34px 46px;
  transition: .35s ease;
}

.package:hover {
  transform: translateY(-14px);
  box-shadow: 0 35px 70px rgba(34,211,238,.4);
}


/* Текст */

.package h3 {
  color: var(--cyan);
  font-size: 1.45rem;
  margin-bottom: 14px;
}

.price {
  font-size: 1.85rem;
  font-weight: 800;
  color: #67e8f9;
  margin: 22px 0 28px;
}

.price.highlight {
  text-shadow: 0 0 18px rgba(34,211,238,.7);
}

.package ul {
  list-style: none;
  font-size: 1.02rem;
  line-height: 1.75;
  margin-bottom: 34px;
}

.package ul li::before {
  content: "▹ ";
  color: var(--cyan);
}

/* Бейдж */

.badge {
  position: absolute;
  top: 22px;
  right: 24px;
  font-size: .75rem;
  background: rgba(34,211,238,.18);
  color: var(--cyan);
  padding: 8px 14px;
  border-radius: 999px;
}

/* Кнопка */

.select-btn {
  display: block;
  text-align: center;
  padding: 18px;
  border-radius: 14px;
  border: 1px solid var(--cyan);
  color: var(--cyan);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.05rem;
  transition: .3s;
}

.select-btn:hover {
  background: var(--cyan);
  color: #020617;
}

.select-btn.primary {
  background: linear-gradient(90deg, #22d3ee, #38bdf8);
  color: #020617;
  border: none;
}



/* Закрыть */

.close {
  position: absolute;
  top: 24px;
  right: 34px;
  font-size: 2rem;
  text-decoration: none;
  color: var(--cyan);
}
