@font-face {
  font-family: "TT Lakes";
  src: url("TTLakesCondensed-Italic.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "TT Lakes", Italic;
  color: #1b1c21;
  background-color: #eeeeee;
}

.header {
  background: #fff;
  padding: 12px 16px;
  border-bottom: 1px solid #eaeaea;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  height: 40px;
  width: 50px;
}

.services {
  padding: 24px 16px;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  border-left: 5px solid #00ffea;
  padding-left: 8px;
}

.services-menu {
  display: flex;
  overflow-x: auto;
  list-style: none;
  gap: 8px;
  padding: 0;
  margin: 0 0 16px 0;
}

.services-menu-link {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #7ffbff;
  background-color: white;
  border-radius: 6px;
  text-decoration: none;
  color: #1b1c21;
  white-space: nowrap;
}

.services-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.services-text {
  left: 20%;
  width: 400px;
  margin-bottom: 50px; 
  font-weight: 400;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0.2px;

}

.services-readmore {
  display: inline-flex;
  align-items: center;
  color: #00b6ff;
  text-decoration: none;
  font-weight: 500;
}

.services-image {
  width: 70%;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .services-content {
    flex-direction: row;
  }

  .services-text {
    flex: 1;
  }

  .services-mage {
    width: 45%;
  }
}

@media (min-width: 1120px) {
  .services {
    max-width: 1120px;
    margin: 0 auto;
  }

  .services-menu {
    flex-wrap: wrap;
    overflow-x: visible;
  }

  .services-title {
    font-size: 28px;
  }
}
