@use "sass:color";

$primary-color: rgb(39, 112, 215);
$primary-hover: rgb(25, 90, 173);
$swiper-bg: #667eea;

$border-radius: 5px;
$swiper-radius: 10px;
$btn-padding: 10px 20px;
$swiper-margin: 20px 0;